form {
  padding: 0 50px;
}

.page-title {
  @include pxRem(padding, 30);
  @include pxRem(font-size, 30);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.font-bold {
  font-weight: 700;
}

.select-error__control {
  background-color: map-get($color, pink) !important;
}

.text-error {
  @include pxRem(font-size, 12);
  color: map-get($color, 'err-msg');
  font-weight: bold;
  line-height: 2;
}
