$color: (
  white-a: #fff,
  secondary: #e7cc68,
  primary: #0a801f,
  primary-hover: #4a9e3d,
  orange-hv: #eba72c,
  black-a: #333333,
  gray-disable: #d1d1d1,
  err-msg: #ec0d0d,
  grey-real: #cecece,
  gray-w: #ababab,
  gray-b: #f7f7f7,
  gray-d: #808080,
  gray-bd: #c4c4c4,
  pink: #ffdede,
  bg-gray: #f5f5f5,
);

$font-weight: (
  title: bold,
  item: 300,
);

$size-base: 16;
