.payment-section {
  form {
    @include pxRem(margin, 30 160);
    @include pxRem(padding, 60 40);
    @include pxRem(border-radius, 10);
    border: 1px solid map-get($color, gray-bd);
  }
  .box {
    @include pxRem(padding, 15 50);
    @include pxRem(max-width, 600);
    @include pxRem(border-radius, 20);
    background-color: map-get($color, blue-a);
    margin: auto;
    span {
      color: map-get($color, white-a);
    }
    .text-error {
      color: map-get($color, err-msg-2);
    }
    input {
      @include pxRem(font-size, 18);
    }
  }
  .button-submit {
    @include pxRem(margin-top, 40);
    text-align: center;

    .btn-submit {
      background-color: map-get($color, blue-a);
      &:hover {
        background-color: map-get($color, blue-hv);
      }
    }
  }
}
